.plot-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: grey;
  }
.plot-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
  } 
  .road{
    background-color:#47484c;
    line-height:10px;
  } 